table {
    margin: 0 auto;
    border: 1px solid #777;
    border-collapse: collapse;
    width: 75vw;
} td {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    border: 1px solid #777;
    font-size: 4vw;
} .composite {
    background-color: black;
    color: white;
}
